<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>URL - SHORTNER</title>
</head>
<body>
    
    <form action="/" method="post">
    <div class="form-control">
        <label for="url">Enter your URL</label>
        <input type="text" id="url" name="url" required>
        <button type="submit">Submit</button>
    </div>
    </form>
    <% if (locals.response) { %>
        <div class="reponse">
            <h1 class="result"><%= response %> </h1>
        </div>
    <% } %>
</body>
</html>
